<center>
<div class="button-send " style="display: flex; flex-direction: row; justify-content: center; margin: 50px; " >
<button type="button" class="btn btn-info"><%= link_to '<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABFElEQVRIS92U0XHCMBBEHxUkHQAVkBLSCaSDUEnoANJJSggdQAekApjN3GU0suSTzfiD6Mdj+7Tvdk+jGROv2cT6/E/AK7AHFiPjOwFvwJf2lyJSwXykuG+TxrIGuFrVBdgCh0bYBvgAnq3+t/mSAwe4rgACCVhaEpSwAOkKAcpxBzwB35arnul6sXnp+QO82/tf830O9E8b5WBlDtLI0kiO5kANeAKhA4crAjlZW+s+E4/k0zr3CENAbaYS9MhU45Hkh6AKyIfbGVgSmf4JmM9E3+8CtJzY0RG1iPc6cIFaVK0XY+hgckAURd9h8L1nvywj27mY6iOAxHXCqrdp6qAEiBx2L6RBOwYWRxENlOuWPz7gBo3POBm4kF6TAAAAAElFTkSuQmCC"/>'.html_safe, email_index_path, method: :post, remote: true %> </button>
</div>
</center>
<br/>

<table class="table table-striped table-dark email-table" id="email-list">
  <thead>
    <tr>
      <th scope="col">#Email</th>
      <th scope="col">Liste des emails</th>
      <th scope="col">Email sélectionné</th>
    </tr>
  </thead>
  <tbody>
    <% Email.all.each do  |email|%>
    <tr>
      <th scope="row"><%= email.id %></th>
      <td><%= email.object %></td>
      <td><%= email.body %> </td>
    </tr>
    <% end %>
  </tbody>
</table>


